<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="client-card">
      <mat-card-header>
        <div mat-card-avatar class="header-avatar image1"></div>
        <mat-card-title>Cachorro Silva Jr</mat-card-title>
        <mat-card-subtitle>Viciado em Twitter</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          "Incrível! Agora tenho mais uma plataforma para compartilhar meu passeio."
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="client-card">
      <mat-card-header>
        <div mat-card-avatar class="header-avatar image2"></div>
        <mat-card-title>Elizabeth Blogueirinha</mat-card-title>
        <mat-card-subtitle>Blogueira at Blog</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          "Como pude sobreviver tanto tempo sem o Timeline?"
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="client-card">
      <mat-card-header>
        <div mat-card-avatar class="header-avatar image3"></div>
        <mat-card-title>Wolverine</mat-card-title>
        <mat-card-subtitle>X-men</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          "O dentes-de-sabre não perde por esperar."
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="client-card">
      <mat-card-header>
        <div mat-card-avatar class="header-avatar image4"></div>
        <mat-card-title>Gretchen</mat-card-title>
        <mat-card-subtitle>Web Celebrity</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          "É pra fingir?"
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
